/* /Pages/Home.razor.rz.scp.css */
.campoDados[b-dwvx54p79a]{
    padding:0;
}

input[b-dwvx54p79a]{
    width:100%;
}

button[b-dwvx54p79a]{
    margin-top:15px;
}

td[b-dwvx54p79a]{
    text-align:center;
    border:1px solid black;
    width:50%;
}

table[b-dwvx54p79a]{
    margin-top:15px;
}

