@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <h1 style="text-align:center; 
                border-bottom: 15px;">Cadastro de Clientes</h1>
    <div class="row">
        <input class="col-lg-6" type="text" placeholder="Nome" />
        <input class="col-lg-6" type="text" placeholder="Telefone" />
        <button class="col-lg-12 btn btn-success" style="border-top: 15px;">Cadastrar</button>
    </div>
</div>

